html *
{
  box-sizing: border-box;
}

body,
html
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input
{
  padding: 1em;
  border: 2px solid #000;
  transition: all .2s ease;
}

input:focus
{
  border-color: #8BC34A;
}

input + label
{
  position: relative;
  top: -2em;
  left: 1em;
  transition: all .2s ease;
}

input:focus + label
{
  left: 0;
  top: -3em;
}
